# Created by .ignore support plugin (hsz.mobi)
.gitignore
Retails/computations/__pycache__/
Retails/modules/__pycache__/ItemImages.cpython-37.pyc
Retails/modules/__pycache__/Purchases.cpython-37.pyc
Retails/modules/__pycache__/Sales.cpython-37.pyc
Retails/modules/__pycache__/Staffs.cpython-37.pyc
Retails/purchases/__pycache__/
Retails/sales/__pycache__/
Retails/Profiles/__pycache__/
Retails/Uploads/__pycache__/
migrations/versions/__pycache__/6a28a2f96011_.cpython-37.pyc
migrations/versions/__pycache__/ec73218efc31_.cpython-37.pyc
venv/Include/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__pycache__/__main__.cpython-37.pyc
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/source/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
migrations/
