{% extends "base.html"%}
{%block content%}

<table class="table table-striped table-bordered">
    <tr><td>Item :</td> <td>{{values.name+values.size}}</td></tr>
    <tr><td>Unit Stock :</td> <td>{{values.unit_stock}}</td></tr>
    <tr><td>Unit Sales :</td> <td>{{values.unit_sales}}</td></tr>
    <tr><td>Sales Per Stock:</td> <td>{{values.sales_per_stock}}</td></tr>
    <tr><td>Category:</td> <td>{{values.category}}</td></tr>
    <tr><td>Selling Price:</td> <td>{{values.selling_price}}</td></tr>
    <tr><td>Category:</td> <td>{{values.category}}</td></tr>
    <tr><td>Created By :</td> <td>{{values.created_by}}</td></tr>
    <tr><td>Created At :</td><td>{{values.created_at}}</td></tr>
    <tr><td>Updated By :</td><td> {{values.updated_by}}</td></tr>
    <tr><td>Updated At :</td><td>{{values.updated_at}}</td></tr>
    <tr><td>Status</td><td>active!</td></tr>

</table>


<a href="{{url_for('items.item_list')}}" class="btn btn-primary float-right">Back to list</a>
{%endblock%}