{% extends "base.html"%}
{%block content%}
<div class="jumbotron">
  <div class="col-md-5 p-lg-10 mx-auto my-10" >
<form method="post" >
    {{form.hidden_tag()}}



  <div class="form-group row">
    <label for="user_name" class="col-sm-2 p-lg-1 ">{{form.user_name.label}}</label>
    <div class="col-sm-10" id = "user_name">
      {{form.user_name(class="form-control")}}
    </div>
  </div>

    <div class="form-group row">
    <label for="first_name" class="col-sm-2 p-lg-1  col-form-label">{{form.first_name.label}}</label>
    <div class="col-sm-10" id = "first_name">
     {{form.first_name(class="form-control")}}
    </div>
  </div>

    <div class="form-group row ">
    <label for="other_name" class="col-sm-2 p-lg-1  col-form-label">{{form.other_name.label}}</label>
    <div class="col-sm-10" id = "other_name">
      {{form.div>other_name(class="form-control")}}
    </div>
    </div>

    <div class="form-group row ">
    <label for="address" class="col-sm-2 p-lg-1  col-form-label">{{form.address.label}}</label>
    <div class="col-sm-10" id = "address">
      {{form.address(class="form-control")}}
    </div>
  </div>
    <div class="form-group row ">
    <label for="kin" class="col-sm-2 p-lg-1  col-form-label">{{form.next_of_kin.label}}</label>
    <div class="col-sm-10" id = "kin">
      {{form.next_of_kin(class="form-control")}}
    </div>
  </div>
    <div class="form-group row ">
    <label for="birthday" class="col-sm-2 p-lg-1  col-form-label">{{form.birthday.label}}</label>
    <div class="col-sm-10" id = "birthday">
      {{form.birthday(class="form-control")}}
    </div>
  </div>
    <div class="form-group row ">
    <label for="role" class="col-sm-2 p-lg-1  col-form-label">{{form.role.label}}</label>
    <div class="col-sm-10" id = "role">
      {{form.role(class="form-control")}}
    </div>
  </div>
    <div class="form-group row ">
    <label for="tel" class="col-sm-2 p-lg-1  col-form-label">{{form.tel.label}}</label>
    <div class="col-sm-10" id = "tel">
      {{form.tel(class="form-control")}}
    </div>
  </div>
    <div class="form-group row ">
    <label for="email" class="col-sm-2 p-lg-1  col-form-label">{{form.email.label}}</label>
    <div class="col-sm-10" id = "email">
      {{form.email(class="form-control email")}}
    </div>
  </div>
<div>{{form.submit(class="btn btn-success")}}</div>


</form>
  </div>
</div>
{%endblock%}