<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {{form.hidden_tag()}}
    {{form.user_name.label}}{{form.user_name()}}
    {{form.first_name.label}}{{form.user_name()}}
    {{form.other_name.label}}{{form.user_name()}}
    {{form.address.label}}{{form.user_name()}}
    {{form.next_of_kin.label}}{{form.user_name()}}
    {{form.birthday.label}}{{form.user_name()}}
    {{form.role.label}}{{form.user_name()}}
    {{form.tel.label}}{{form.user_name()}}
    {{form.email.label}}{{form.user_name()}}
    submit = SubmitField("Register")

    {{form.submit()}}
</form>
</body>
</html>
