
{%extends"base.html"%}
{%block content%}
<table class="table table-striped">
    <tr>
        <td>{{form.item_sold.label}}</td>
        <td>{{form.unit_price.label}}</td>
        <td>{{form.quantity_sold.label}}</td>
        <td>Amount</td>

        <td></td>
    </tr>
    {%for sale in sales%}
    <tr>
        {%for item in items %}
        {%if item._Id==sale.item_sold%}
        <td>{{item.item}}</td>
        {%endif%}
        {%endfor%}

        <td>{{sale.unit_price}}</td>
        <td>{{sale.quantity_sold}}</td>
        <td>{{ sale.unit_price * sale.quantity_sold}}</td>

                <td>
            <form method="post" action="Items.details.html">
                <a href="{{ url_for('Sales.sales_details', _id=sale._Id)}}" >Details </a>
                <a href="{{ url_for('Sales.edit_sales', _id=sale._Id)}}">Edit</a>
                <a href="{{url_for('Sales.trash_sales', _id=sale._Id)}}" >Trash</a>
            </form>

        </td>
    </tr>
    {%endfor%}

</table>
{%endblock%}

