
{% extends "base.html"%}
{%block content%}
<div class="jumbotron">
  <div class="col-md-5 p-lg-10 mx-auto my-10" >
<form method="post" >
    {{form.hidden_tag()}}
  {%if error%}
  <div >{{error}}</div>
  {%endif%}

  <div class="form-group row">
    <label for="size" class="col-sm-2 p-lg-1 ">{{form.item.label}}</label>
    <div class="col-sm-10" id = "size">
      {{form.item(class="form-control")}}
    </div>
  </div>

    <div class="form-group row">
    <label for="unit" class="col-sm-2 p-lg-1  col-form-label">{{form.price.label}}</label>
    <div class="col-sm-10" id = "unit">
     {{form.price(class="form-control")}}
    </div>
  </div>

    <div class="form-group row ">
    <label for="packaging" class="col-sm-2 p-lg-1  col-form-label">{{form.quantity.label}}</label>
    <div class="col-sm-10" id = "packaging">
      {{form.quantity(class="form-control")}}
    </div>
  </div>
  <div class="form-group row ">
    <label for="amount" class="col-sm-2 p-lg-1  col-form-label">Amount</label>
    <div class="col-sm-10" id = "amount"><del>Sum of amount used for purchase</del></div>

    </div>
<div>{{form.submit(class="btn btn-success")}}</div>



</form>
  </div>
</div>
{%endblock%}