{% extends "base.html"%}

{%block content%}

<table class="table table-striped">
    <tr style="background: #888">
        <td>Item</td>
        <td>Status</td>
        <td>Value</td>
        <td></td>

    </tr>
    {%for profit in profits%}
    <tr>
        {% for item in items%}
        {%if item._Id==profit%}
        <td>{{item.item}}</td>
        {%if profits[profit] >= 0%}
        <td>Profit</td>
        <td>{{profits[profit]}}</td>
        {%else%}
        <td>Loss</td>
        <td>{{profits[profit]}}</td>
        {%endif%}
        <td><a href="">Details</a></td>
        {%endif%}
       {%endfor%}
    </tr>
    {%endfor%}
    {%if p_total >=0%}
    <tr style="background:#2d2;" >
        <td>Total</td>
        <td>Profit : </td>
        <td>Shs: {{p_total}}</td>
        <td>Great work</td>
    </tr>
    {%else%}
        <tr style="background:#d22;">
            <td>Total</td>
            <td>Loss : </td>
            <td>Shs: {{l_total}}</td>
            <td>Improve performance</td>
        </tr>
    {%endif%}
</table>

<a href="{{url_for('Dashboard.dashboard')}}" class="btn btn-primary float-right">Back to Dashboard</a>
{%endblock%}