{% extends "bootstrap/base.html" %}
{% block title %}Cice tailoring enterprise{% endblock %}

{% block navbar %}
{%block styles%}
{{super()}}
<head>


	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/utilities.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/maincss.css')}}">
</head>
{%endblock%}


<div class="container " >
  <nav class="navbar navbar-expand-lg " style="background: aquamarine; padding:20px; border-radius:10px;">
  <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {%if current_user.is_authenticated%}
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="{{url_for('Items.list_of_items')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Items.add_item')}}">New Items</a>
          <a class="dropdown-item" href="{{url_for('Items.list_of_items')}}">List of items</a>
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="Purchases.list_of_purchases')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purchases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Purchases.add_purchase_record')}}">New Purchase</a>
          <a class="dropdown-item" href="{{url_for('Purchases.list_of_purchases')}}">List of purchases</a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="{{url_for('Sales.list_of_sales')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Sales.add_new_sales')}}">New Sales</a>
          <a class="dropdown-item" href="{{url_for('Sales.list_of_sales')}}">List of Sales</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="{{url_for('Staffs.list_of_staffs')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staffs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Staffs.add_staff')}}">New Staff</a>
          <a class="dropdown-item" href="{{url_for('Staffs.list_of_staffs')}}">List of Staffs</a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="{{url_for('Staffs.list_of_staffs')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Media
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('ItemImage.uploader')}}">Upload Image</a>
          <a class="dropdown-item" href="{{url_for('ItemImage.image_gallery')}}">Gallery</a>

        </div>
      </li>
      <li>
        <a class="navbar-brand" href="{{url_for('Advanced.advanced')}}">Advanced</a>
      </li>

      {% endif%}

    </ul>


    <ul class="nav justify-content-end">
      {%if current_user.is_authenticated%}
      <li class="nav-item nav-link nav-end">Hi! {{current_user.username}}</li>
      <li class="nav-item nav-end">
        <a class="nav-link" href="{{url_for('Users.logout')}}">Logout</a>
      </li>


      {%else%}
      <li class="nav-item ">
        <a class="nav-link navbar-brand" href="{{url_for('Users.login')}}">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="{{url_for('Users.register')}}">register</a>
      </li>
      {%endif%}
    </ul>

  </div>
    <div class="nav-item">

    </div>

  </nav>

{% endblock %}
{% block content %}

{% endblock %}
{%block footer%}<div style="text-align: center; ">All rights reserved @Cice righte ent 2019 </div>{%endblock%}
</div>


