{% extends "bootstrap/base.html" %}
{% block title %}Cice tailoring enterprise{% endblock %}

{% block navbar %}


<div class="container " >
  <nav class="navbar navbar-expand-lg navbar-light" style="background: aquamarine">
  <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('Items.list_of_items')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Items.add_item')}}">New Items</a>
          <a class="dropdown-item" href="{{url_for('Items.list_of_items')}}">List of items</a>
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="Purchases.list_of_purchases')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purchases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Purchases.add_purchase_record')}}">New Purchase</a>
          <a class="dropdown-item" href="{{url_for('Purchases.list_of_purchases')}}">List of purchases</a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('Sales.list_of_sales')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Sales.add_new_sales')}}">New Sales</a>
          <a class="dropdown-item" href="{{url_for('Sales.list_of_sales')}}">List of Sales</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('Staffs.list_of_staffs')}}" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staffs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('Staffs.add_staff')}}">New Staff</a>
          <a class="dropdown-item" href="{{url_for('Staffs.list_of_staffs')}}">List of Staffs</a>

        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}
{% block content %}



{% endblock %}
{%block footer%}<div style="text-align: center">All rights reserved @Cice righte ent 2019 </div>{%endblock%}
</div>

