
{% extends "base.html" %}

<html lang="en">
{%block content%}
<body style="background-color: #666666;">


	<div class="limiter">

		<div class="container-login100">

			<div class="wrap-login100">

				<form method="post" class="login100-form validate-form">
					{% if error%}
					<p class=error><strong>Error:</strong> {{ error }}
   						 {% endif %}

					{{form.hidden_tag()}}
					<span class="login100-form-title p-b-43">
						Resister hear
					</span>


                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">

						{{form.username(class="input100")}}
						<span class="focus-input100"></span>
						<span class="label-input100">{{form.username.label}}</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">

						{{form.email(class="input100")}}
						<span class="focus-input100"></span>
						<span class="label-input100">{{form.email.label}}</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">

						{{form.password(class="input100")}}
						<span class="focus-input100"></span>
						<span class="label-input100">{{form.password.label}}</span>

					</div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">

						{{form.confirm_password(class="input100")}}
						<span class="focus-input100"></span>
						<span class="label-input100">{{form.confirm_password.label}}</span>

					</div>



					<div class="container-login100-form-btn">
						{{form.submit(class="login100-form-btn")}}
					</div>

					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url({{ url_for('static', filename='images/login.jpg') }}) ">
				</div>
			</div>
		</div>
	</div>
</body>
{%endblock%}
</html>

