{% extends "bootstrap/base.html" %}
{% block title %}Retail Management system{% endblock %}

{% block navbar %}
{%block styles%}
{{super()}}
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/utilities.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/maincss.css')}}">
</head>
{%endblock%}


<div class="container " >
  <nav class="navbar navbar-expand-lg " style="background: aquamarine; padding:20px; border-radius:10px;">
  <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
{%if current_user.is_authenticated%}
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('items.item_add')}}">New Items</a>
          <a class="dropdown-item" href="{{url_for('items.item_list')}}">Items</a>
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('stocks.stock_add')}}">New Stock</a>
          <a class="dropdown-item" href="{{url_for('stocks.stock_list')}}">Stocks</a>

        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href="" class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('sales.sale_add')}}">New Sale</a>
          <a class="dropdown-item" href="{{url_for('sales.sale_list')}}">Sales</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand" href=""  class="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staffs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('staffs.staff_add')}}">New Staff</a>
          <a class="dropdown-item" href="{{url_for('staffs.staff_list')}}">Staffs</a>

        </div>
      </li>



        <li>
        <a class="navbar-brand" href="{{url_for('dashboard.dashboard')}}">Dashboard</a>
      </li>
      {% endif%}

    </ul>


    <ul class="nav justify-content-end">
      {%if current_user.is_authenticated%}
      <li class="nav-item nav-link nav-end">Hi! {{current_user.username}}</li>
      <li class="nav-item nav-end">
        <a class="nav-link" href="{{url_for('accounts.logout')}}">Logout</a>
      </li>

        <li class="nav-item">
        <a class="nav-link navbar-brand" href="{{url_for('accounts.register')}}">Register Users</a>
      </li>
      {%else%}
      <li class="nav-item ">
        <a class="nav-link navbar-brand" href="{{url_for('accounts.login')}}">login</a>
      </li>

      {%endif%}
    </ul>

  </div>
    <div class="nav-item">

    </div>

  </nav>

{% endblock %}

{% block footer%}
<hr/>
    <div style="text-align: center">All rights reserved @Cice righte ent 2019 </div>
        <footer class="row pt-3 " style="background:#aaa;border-radius:10px">

            <h4 class="text-white" style="text-align: center;">Footer Section</h4>

        </footer>
    {%endblock%}
</div>


