
{%extends"base.html"%}
{%block content%}
<table>
    <tr>
        <td>{{form.item_sold.label}}</td>
        <td>{{form.unit_price.label}}</td>
        <td>{{form.quantity_sold.label}}</td>
        <td>{{form.sold_on.label}}</td>
        <td>{{form.sold_by.label}}</td>
        <td>{{form.updated_by.label}}</td>
        <td>{{form.updated_at.label}}</td>

        <td></td>
    </tr>
    {%for sale in sales%}
    <tr>
        <td>{{sale.item_sold}}</td>
        <td>{{sale.unit_price}}</td>
        <td>{{sale.quantity_sold}}</td>
        <td>{{sale.sold_on}}</td>
        <td>{{sale.sold_by}}</td>
        <td>{{sale.updated_by}}</td>
        <td>{{sale.updated_at}}+</td>
    </tr>
    {%endfor%}

</table>
{%endblock%}

