
{% extends "base.html"%}
{%block content%}

<table class="table table-striped">
    <tr style="background: #888">
        <td>{{form.item_purchased.label}}</td>
        <td>{{form.unit_price.label}}</td>
        <td>{{form.purchase_date.label}}</td>
        <td>{{form.quantity_purchased.label}}</td>
        <td>Amount</td>
        <td></td>
    </tr>
    {%for purchase in purchases%}
    <tr>
        {% for item in items%}
        {%if purchase.item_purchased==item._Id%}
        <td>{{item.item}}</td>

        {%endif%}
        {%endfor%}

        <td>{{purchase.unit_price}}</td>
        <td>{{purchase.purchase_date}}</td>
        <td>{{purchase.quantity_purchased}}</td>
        <td>{{purchase.unit_price*purchase.quantity_purchased}}</td>
        <td>
            <form method="post" action="Items.details.html">
                <a href="{{ url_for('Purchases.purchase_details', _id=purchase._Id)}}" >Details </a>
                <a href="{{ url_for('Purchases.edit_purchase', _id=purchase._Id)}}">Edit</a>
                <a href="{{url_for('Purchases.trash_purchase', _id=purchase._Id)}}" >Trash</a>
            </form>

        </td>
    </tr>
    {%endfor%}
</table>

{%endblock%}
